@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'SUSE', sans-serif;
  font-optical-sizing: auto;
}

a {
  color: inherit;
}

:is(i, span).pi {
  line-height: 1.5;
}
